* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.clock {
    font-size: 42px;
    font-weight: bold;
    color: rgb(105, 98, 98);
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: calc(100% / 11);
    padding: 5px 0;
    text-align: center;
}

.to-color {
    color: #f311cd;
}